.button{
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin-left: 20px;
    font-weight: 600;
}

.button:hover{
    background-color: #fff;
    color: #000;
}
.container{
    width: 1200px;
    margin: 0 auto;
}